API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=your_api_football_key_here
MATCHES_DEMO_MODE=false
MATCHES_API_ERROR_FALLBACK_ENABLED=true
MATCHES_QUERY_STALE_TIME_MS=60000
MATCHES_LIVE_REFRESH_INTERVAL_MS=60000
MATCHES_SLOW_REFRESH_INTERVAL_MS=120000
MATCHES_MAX_REFRESH_BACKOFF_MS=300000
FOLLOWS_SEARCH_DEBOUNCE_MS=500
FOLLOWS_SEARCH_MIN_CHARS=2
FOLLOWS_SEARCH_RESULTS_LIMIT=20
FOLLOWS_TEAM_NEXT_FIXTURE_TTL_MS=3600000
FOLLOWS_PLAYER_STATS_TTL_MS=3600000
FOLLOWS_TRENDS_TTL_MS=21600000
FOLLOWS_TRENDS_LEAGUE_COUNT=7
FOLLOWS_TRENDS_TEAMS_LIMIT=8
FOLLOWS_TRENDS_PLAYERS_LIMIT=8
FOLLOWS_MAX_FOLLOWED_TEAMS=30
FOLLOWS_MAX_FOLLOWED_PLAYERS=30
