VITE_BFF_BASE_URL=https://api.footalert.romdev.cloud/v1
VITE_SUPPORT_EMAIL=support@footalert.romdev.cloud
VITE_X_URL=https://x.com/footalert
VITE_INSTAGRAM_URL=https://instagram.com/footalert
VITE_LINKEDIN_URL=https://linkedin.com/company/footalert
