PORT=3001
HOST=0.0.0.0
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=your_server_side_api_football_key
API_TIMEOUT_MS=10000
API_MAX_RETRIES=2
RATE_LIMIT_MAX=120
RATE_LIMIT_WINDOW_MS=60000
TRUST_PROXY_HOPS=0
CORS_ALLOWED_ORIGINS=
CACHE_MAX_ENTRIES=1000
CACHE_CLEANUP_INTERVAL_MS=60000
BFF_EXPOSE_ERROR_DETAILS=false
