PORT=3001
HOST=0.0.0.0
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_KEY=your_server_side_api_football_key
API_TIMEOUT_MS=10000
API_MAX_RETRIES=2
RATE_LIMIT_MAX=120
RATE_LIMIT_WINDOW_MS=60000
TRUST_PROXY_HOPS=0
CORS_ALLOWED_ORIGINS=
WEB_APP_ORIGIN=
CACHE_MAX_ENTRIES=1000
CACHE_CLEANUP_INTERVAL_MS=60000
CACHE_BACKEND=memory
REDIS_URL=
REDIS_CACHE_PREFIX=footalert:bff:
BFF_EXPOSE_ERROR_DETAILS=false
MOBILE_REQUEST_SIGNING_KEY=
MOBILE_REQUEST_SIGNATURE_MAX_SKEW_MS=300000
